/* black white */
$white: #fff;
$light-1: #f0f0f0;
$light-2: #e7e7e7;
$light-3: #dddddd;
$light-4: #d3d3d3;
$light-5: #c9c9c9;
$grey-1: #b1b1b1;
$grey-2: #a7a7a7;
$grey-3: #999999;
$grey-4: #838383;
$grey-5: #757575;
$dark-1: #5c5c5c;
$dark-2: #525252;
$dark-3: #444444;
$dark-4: #363636;
$dark-5: #2b2b2b;
$dark-6: #1d1d1d;
$black: #000;


/* neon */
$neon-1: #43C6DB;